@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  width: 100vw;
  height:100vh;
}

@layer base{



  input:focus~label, input:not(:placeholder-shown)~label{

   top: 10px;
   transform: scale(0.9);
   left:15px
  }

  .CENTER{

    @apply flex justify-center items-center
  }

  .HEROBG{

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 background:linear-gradient(to bottom,rgba(0, 0, 0, 0.89),rgba(0,0,0,0.89)),url('https://i.etsystatic.com/18545205/r/il/dd33b8/3436419395/il_570xN.3436419395_jqd7.jpg');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
